<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="forjai-baseline" value="/opt/nuget-packages" />
    <add key="forjai-approved" value="/deps/nuget" />
  </packageSources>
  <config><add key="globalPackagesFolder" value="/tmp/nuget-packages" /></config>
  <fallbackPackageFolders>
    <add key="forjai-baseline" value="/opt/nuget-packages" />
    <add key="forjai-approved" value="/deps/nuget" />
  </fallbackPackageFolders>
</configuration>
